# This is a basic workflow to help you get started with Actions

name: Unit Tests

on:
  pull_request:
    branches: [ main ]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
    - name: Android Github Action
      uses: Vukan-Markovic/Github-Android-Action@1.2
